body {
    text-align: center;
    margin-top: 30px;
    font-family: "Courier";
    background-color: #fff5e4;
    color: #ff9494;
  }
  
  #activityquestion {
    font-size: 50px;
    margin-bottom: 30px;
  }
  
  .activities-selection {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
    color: #ff9494;
  }
  
  .activities-selection p {
    font-size: 22px;
    margin: 20px 0;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin: 20px auto;
    font-family: "Courier";
    margin-bottom: 20px;
    background-color: #ffe3e1;
    color: #e67373;
    border-radius: 12px;
    border: 2px solid #ffe3e1;
    transition: 0.3s;
    display: block;
  }
  
  .button:hover {
    background-color: #ff9494;
    color: #ffe3e1;
    border: 2px solid #ff9494;
  }
  